# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Sublime
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Maven
**/target/
pom.xml.releaseBackup
pom.xml.versionsBackup

# Other
.orig
.DS_Store

# Ruby
*.gem
.bundle
Gemfile.lock

# Jekyll
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
Gemfile.lock
node_modules
npm-debug.log*

# Releases
*.asc
